* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #fef1ee;
}

.navbar {
    background:#18183e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 100;
}

.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
    font-weight: 900;
}

#clock {
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.navbar-brand:hover {
    color: black;
    transition: 0.3s;
}

.nav-link {
    margin-right: 1em !important;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    transition: 0.3s;
}

.navbar-collapse {
    justify-content: flex-end;
}

.image{
    height: 40vh;
    background-image: url();
}

.title h1{
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.bar{
    background-color: hsl(13, 100%, 93%);
}

.bar h2{
    text-align: center;
    font-weight: 800;
    color: #fe632c;
}

.search-bar{
    margin-top: 40px;
    text-align: center;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    font-size: 20px;
    border-style: none;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.search-bar button {
    border: none;
    margin-top: 40px;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    background:#fe632c;
    border-radius: 5px;
}

.wrapper{
    max-width: 60%;
    margin: auto;
}

.wrapper h2{
    padding: 40px 0px 30px 20px;
    font-weight: 800;
    text-align: center;
    color: #fe632c;
}

.faq{
    border-bottom: 2px solid #fe632c;
}

.accordion{
    background: transparent;
    font-size: 25px;
    padding: 15px 0;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 20px;
    color: #fe632c;
}

.panel{
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.4s ease;
}

.panel p{
    font-size: 20px;
}

.faq.active .panel{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active i{
    transform: rotate(180deg);
}

i{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
  

.printButton button{
    padding: 10px 20px;
    margin-top: 50px;
    border:1px solid #0d273c;
    background:#0d273c;
    border-radius: 4;
    height: 80px;
    width: 250px;
    font-size: 22px;
    font-weight: 900;
    color:#fff;
    position: center;
}


.printButton button:hover {
    border:1px solid #0a4778;
    background:#0a4778;
}

@media print{
    body * {
        display: none;
    }
    #FAQ, #FAQ *{
        display: block;
    
    }
}

span {
    color: #ffff;
    font-weight: 800;
}

oran {
    color: #fe632c;
    font-weight: 800;
}

:root {
    --glow-rgb: 255, 255, 255;
  }
  
.glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
  }