button:hover {
    opacity: 0.8;
}

/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none; /* Hide by default */
    transition: 0.5s ease;
}

/* Side Cart */
.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: white;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1); /* Updated color value */
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
    z-index: 4; /* Ensure it is above the backdrop */
}

.sidecart.open {
    transform: translateX(0);
}

.backdrop.open {
    display: block;
}

.cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Cart Header */
.cart_header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    justify-content: center;
}

.header_title h2{
    font-size: 24px;
    font-weight: 700;
}

.header_title span {
    margin-left: 10px; /* Adjust spacing between title and span */
    width: 20px;
    height: 20px;
    background-color: rgb(244, 149, 91);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

/* Cart Items */
.cart_items {
    flex: 1;
    overflow: auto;
}

.cart_item {
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.remove_item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove_item span {
    color: #fff;
    font-size: 20px;
    user-select: none;
}

.item_img {
    margin-right: 1rem; /* Space between image and details */
}

.item_img img {
    width: 120px; /* Set a specific width */
    height: 120px; /* Set a specific height */
    object-fit: contain;
}

.item_details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.item_details p {
    color: #666;
    margin: 0;
}

.item_details .qty {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item_details .qty span {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center; 
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -1px -1px 2px lightgray; 
    user-select: none;
    transition: scale 0.2s ease;
}

.item_details .qty span:hover {
    scale: 1.1;
}

.item_details .qty span:active {
    scale: 1;
}

.qty span:first-of-type {
    font-size: 2rem;
    padding-bottom: 5px;
}

/* Cart Actions */
.cart_actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.cart_actions .subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions button {
    border: none;
    background-color:#ff5416 ;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart_actions button:nth-of-type(2) {
    background-color: lightgrey;
}
