* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #d3bbb7;
}

.navbar {
    background:#fe632c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 100;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    font-weight: 900;
}

.navbar-brand:hover {
    color: black;
    transition: 0.3s;
}

.nav-link {
    margin-right: 1em !important;
    text-decoration: none;
}


.nav-link:hover {
    color: black;
    transition: 0.3s;
}

.navbar-collapse {
    justify-content: flex-end;
}


/*Start from here is css for subscription page*/
.subscription{
    background-color: #f3f3f3;
}

.sub-header{
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://as1.ftcdn.net/v2/jpg/03/68/66/94/1000_F_368669476_Cl7gGRuBWRYnPLwwY8pBgmeH1lGvpQ1r.jpg');
    /* background-image: url('https://as1.ftcdn.net/v2/jpg/03/68/66/94/1000_F_368669476_Cl7gGRuBWRYnPLwwY8pBgmeH1lGvpQ1r.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sub-desciption {
    padding: 80px;
    vertical-align: center;
    text-align: center;

}

.carousel-item img {
    height: 400px;
}


#specials {
    text-align: center;
    overflow: hidden;
}

.carousel-inner a i  {
    font-size: 30px;
    color: #fe632c;
    opacity: 1;
}

.sub-plan-list {
    background-color: #f26734;
    border-radius: 10px;
}

.sub-plan-price{
    font-size: 40px;
}

.sub-button {
    background-color: #183248;
    color: white;
}

.sub-button:hover{
    background-color: white;
    color:#ed470a ;
}

.sub-button:active{
    background-color: white;
    color:#ed470a ;
}




.before-discount {
    text-decoration: line-through;
    font-size: 22px;
    align-items: start; 
    color: rgb(78, 75, 75);
}

.snack h2{
    font-size:30px;
    color: #ed470a ;
}

.snack-list{
    color:#021425;
}


.discount-tag {
    font-size: 15px;
    opacity: 70%;     
}

.advantage  i{
    color: #ed470a;

}

oran {
    color: #fe632c;
    font-weight: 800;
}
