.btn1{
    padding: 20px 20px;
    text-align: center;
    border: none;
    background: none;
    border-radius: 4;
    height: 80px;
    width: 250px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;
    color:#DB4A2B;
}

.sendbtn{
    background-color:#DB4A2B;
    color: white;
    font-weight: 700;
}

.delete-button {
    display: inline-block;
    /* Other styling rules */
}


body{
    background-color: bisque;
}